.author{
    font-style: italic;
    color:rgb(221, 34, 165);
    text-align: center;
    font-size: 40px;
}
body{
    background-image: url(../images/8k.jpg);
    background-size: cover;
}
.equilateral{
    color: white;
    font-style: oblique;
}
h2{
    color: rgb(224, 42, 215);
}